<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href='{% static "css/lib/bootstrap.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "css/lib/font-awesome.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "css/theme/style.css" %}'>
</head>

<body class="noborder">
        <div class="container">
            <div>
                <div class="row">
                    <div class="login-logo background-block" style="background-image: url(&quot;img/special/login.jpg&quot;);"><img class="center-image" src="#" alt="" style="display: none;"></div>
                    <div class="col-xs-12 col-sm-7" style="margin-left: 18% ">
                        <div class="f-login-content">
                            <div class="f-login-header">
                                <div class="f-login-title color-dr-blue-2">Welcome back!</div>
                                <div class="f-login-desc color-grey">Please login to your account</div>
                            </div>
                            <form class="f-login-form" action="." method="POST">
                                {% csrf_token %}
                                <div class="input-style-1 b-50 type-2 color-5">
                                    <input type="text" ng-model="user.email" placeholder="Enter your email or username" required="">
                                </div>
                                <div class="input-style-1 b-50 type-2 color-5">
                                    <input type="text" ng-model="user.password" placeholder="Enter your password" required="">
                                </div>
                                <div class="checkbox-group">
                                    <div class="input-entry color-3">
                                        <input class="checkbox-form" id="text-1" type="checkbox" name="checkbox" value="climat control">
                                        <label class="clearfix" for="text-1">
                                            <span class="sp-check"><i class="fa fa-check"></i></span>
                                            <span class="checkbox-text">Register now</span>
                                        </label>
                                    </div>
                                    <div class="input-entry color-3">
                                        <input class="checkbox-form" id="text-2" type="checkbox" name="checkbox" value="climat control">
                                        <label class="clearfix" for="text-2">
                                            <span class="sp-check"><i class="fa fa-check"></i></span>
                                            <span class="checkbox-text">Remember me</span>
                                        </label>
                                    </div>
                                </div>
                                <input type="submit" ng-click="sign_in()" class="login-btn c-button full b-60 bg-dr-blue-2 hv-dr-blue-2-o" value="LOGIN TO YOUR ACCOUNT">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <a href="http://demo.nrgthemes.com/projects/travel/login.html#" class="c-button full b-60 bg-blue-7 hv-blue-7-o"><i class="fa fa-facebook"></i><span>login via facebook</span></a>
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <a href="#/sign_up" class="c-button full b-60 bg-blue-8 hv-blue-8-o"><span>sign up</span></a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>
