<div class="padding-top" ng-init="initGrid()">

    <ng-include src='"static/js/app/views/partials/header-menu.html"'></ng-include>

    <div class="padding-top-10 container-fluid">
        <div class="row padding-top-10">
            <div class="col-md-2">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for..." ng-model="searchText">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="search(searchText)"><i class="fa fa-search"></i></button>
                     </span>
                </div>
                <div class="form-group padding-top-10">
                    <select id="select-country" class="form-control" style="width: 100%" multiple data-placeholder="Choose Country..." ng-model="country" ng-options="c.id as c.name for c in countries">
                    </select>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">Categories</h4>
                    </div>
                    <div class="panel-body">
                        <ul class="folder-list">
                            <li><a href="javascript:;" ng-click="getPlaces()">all</a></li>
                            <li ng-repeat="category in categories"><a href="javascript:;" ng-click="getPlaceByCategory(category.pk)">{$category.name$}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="panel">
                        <div class="panel-heading">
                            <div class="row">
                                <h4 class="panel-title col-md-10">Place list</h4>
                                <div class="col-md-2 pull-right no-padding">
                                    <select id="select-rate" class="form-control" style="width: 100%" data-placeholder="Choose rate...">
                                        <option value="United States">Top rated</option>
                                        <option value="United Kingdom">Top viewed</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="container">
                                <div class="row">
                                    <div ng-repeat="place in places">
                                        <div class="col-ml-12 col-xs-6 col-sm-4">
                                            <place-post place="place" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
