<div class="padding-top">
    <ng-include src='"static/js/app/views/partials/header-menu.html"'></ng-include>
    <!-- MAIN CONTENT -->
    <div id="content-block padding-top" ng-init="initPlaceDetail()">
        <div class="container-fluid be-detail-container panel">
            <div class="row panel-body">
                <div class="col-md-9 col-md-push-3">
                    <div class="be-large-post">
                        <div class="info-block">
                            <div class="be-large-post-align">
                                <span><i class="fa fa-thumbs-o-up"></i> 253</span>
                                <span><i class="fa fa-eye"></i> 753</span>
                                <span><i class="fa fa-comment-o"></i> 50</span>
                            </div>
                        </div>
                        <div class="blog-content popup-gallery be-large-post-align">
                            <h5 class="be-post-title to">
                                {$ currentPlace.title $}
                            </h5>
                            <span class="be-text-tags">
                                Category: <a href="blog-detail-2.html" class="be-post-tag">amusement</a>
                            </span>
                            <div class="clear"></div>
                            <div class="post-text">
                                <div class="image-block block-center">
                                    <a class="popup-a" href="img/l1.jpg">
                                        <img class="img-responsive" src="{$ currentPlace.photo $}" alt="">
                                    </a>
                                </div>
                                <p>{$ currentPlace.description $}</p>
                            </div>
                        </div>
                    </div>
                    <div class="be-comment-block">
                        <h1 class="comments-title">Comments (3)</h1>
                        <p class="about-comment-block">
                            You must <a href="blog-detail-2.html" class="be-signup-link">SIGN UP</a> to join the conversation.
                        </p>
                        <div>
                            <div class="form-body">
                                <div class="form-group">
                                    <textarea name="comment" id="" cols="30" rows="5" row="5" class="form-control"></textarea>
                                </div>
                                <div>
                                    <a href="javascript:;" class="btn btn-primary btn-block">Comment</a>
                                </div>
                            </div>
                        </div>
                        <div class="be-comment margin-top-10">
                            <div class="be-img-comment">
                                <a href="blog-detail-2.html">
                                    <img src="img/c2.png" alt="" class="be-ava-comment">
                                </a>
                            </div>
                            <div class="be-comment-content">
                                <span class="be-comment-name">
                                            <a href="blog-detail-2.html">Phoenix, the Creative Studio</a>
                                    </span>
                                <span class="be-comment-time">
                                            <i class="fa fa-clock-o"></i>
                                            May 27, 2015 at 3:14am
                                        </span>
                                <p class="be-comment-text">
                                    Nunc ornare sed dolor sed mattis. In scelerisque dui a arcu mattis, at maximus eros commodo. Cras magna nunc, cursus lobortis luctus at, sollicitudin vel neque. Duis eleifend lorem non ant. Proin ut ornare lectus, vel eleifend est. Fusce hendrerit dui in turpis tristique blandit.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-md-pull-9 left-feild">
                    <div class="be-user-block">
                        <div class="be-user-detail">
                            <a class="col-xs-8" href="blog-detail-2.html">
                                <img class="img-circle img-responsive col-xs-8 col-xs-offset-5" src="http://wedesignthemes.com/html/role/images/post-images/profile-img4.jpg" alt="">
                            </a>
                            <div class="row">
                                <h4 class="col-xs-12 block-center">{$currentPlace.user$}</h2>
                                <p class="col-xs-12 block-center">
                                    Singapore, Singapore
                                </p>
                            </div>
                        </div>
                        <div class="be-user-activity-block">
                            <div class="row">
                                <div class="col-lg-5 col-xs-5 col-xs-offset-1">
                                    <a href="blog-detail-2.html" class="btn btn-success btn-quirk btn-stroke btn-block"><i class="fa fa-plus"></i>FOLLOW</a>
                                </div>
                                <div class="col-lg-5 col-xs-5">
                                    <a href="blog-detail-2.html" class="btn btn-success btn-quirk btn-stroke btn-block"><i class="fa fa-envelope-o"></i>MESSAGE</a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-xs-offset-1 margin-top-10">
                        <a href="blog-detail-2.html" class="btn btn-success btn-quirk btn-stroke col-xs-11"><i class="fa fa-thumbs-o-up"></i>LIKE PLACE</a>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>
