<div class="padding-top">
    <ng-include src='"static/js/app/views/partials/header-menu.html"'></ng-include>
    <!-- MAIN CONTENT -->
    <div id="content-block" ng-init="intiEdit()">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title">Edit profile</h4>
                            <p>Change info about yourself...</p>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <input name="user-photo" type="file" id="user-photo" required/>
                            </div>
                            <div class="form-group">
                                <input type="text" name="firstName" placeholder="Enter first name..." class="form-control" ng-model="user.first_name" />
                            </div>
                            <div class="form-group">
                                <input type="text" name="lastName" placeholder="Enter last name..." class="form-control" ng-model="user.last_name" />
                            </div>
                            <div class="form-group">
                                <input type="text" name="address" placeholder="Enter address..." class="form-control" ng-model="user.address" />
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="about" rows="7" placeholder="Enter something about yourself..." ng-model="user.about"></textarea>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-offset-3">
                                    <a href="#/profile/" class="margin-10 col-xs-4 btn btn-primary btn-quirk btn-stroke">CANCEL</a>
                                    <a ng-click="editProfile(user)" href="javascript:;" class="margin-10 col-xs-4 btn btn-primary btn-quirk btn-stroke">SAVE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>