<ng-include src='"static/js/app/views/partials/header-menu.html"'></ng-include>
<div class="padding-top" style="margin-top: 30px">
    <!-- MAIN CONTENT -->
    <div id="content-block padding-top" ng-init="initRouteDetail()">
        <div class="container">
            <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-map-sidebar">
                            <div class="row row-fluid panel-body" style="overflow: hidden; outline: none;">
                                <div ng-repeat="place in route.places">
                                    <div class="col-xs-4">
                                        <div href="#/detail/{$place.id$}" class="col-xs-12 place-miniature">
                                            <img src="{$ place.photo $}" class="img-responsive col-xs-12" alt="omg">
                                            <div class="place-min-detail">
                                                <h3>{$ place.title $}</h3>
                                                <a href="#/detail/{$place.id$}" class="btn btn-success btn-quirk">Detail</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h4 class="panel-title mb20">{$ route.name $}</h4>
                                <p>{$ route.description $}</p>
                            </div>
                            <div class="col-md-7 main">
                                <div id="routeMap" class="map-wrapper"></div>
                            </div>
                            <div class="col-md-5 map-sidebar">
                                <div class="panel-body">
                                    <form class="form" action="#">
                                        <div class="form-group">
                                            <label class="control-label">From:</label>
                                            <select id="selectFrom" class="form-control" data-placeholder="Choose place..." ng-model="selectFrom" ng-options="c as c.title for c in route.places">
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">To:</label>
                                            <select id="selectTo" class="form-control" data-placeholder="Choose place..." ng-model="selectTo" ng-options="c as c.title for c in route.places">
                                            </select>
                                        </div>
                                        <hr>
                                        <button type="button" class="btn btn-success btn-block" ng-click="calcRoute()">Get Directions</button>
                                    </form>
                                </div>
                            </div>
                            <!-- CONTROL -->
                            <div class="col-xs-12 padding-10">
                                <div class="col-xs-offset-4 col-xs-2">
                                    <a href="javascript:;" class="btn btn-primary btn-stroke btn-quirk btn-block" ng-click="open()">Set Date</a>
                                </div>
                                <div class="col-xs-2">
                                    <button ng-click="openDateList()" class="btn btn-primary btn-stroke btn-quirk btn-block">Show active</button>
                                </div>
                            </div>
                            <!-- END CONTROL -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
