<ng-include src='"static/js/app/views/partials/header-menu.html"'></ng-include>
<div class="padding-top" style="margin-top: 30px">
    <!-- MAIN CONTENT -->
    <div id="content-block padding-top" ng-init="initRouteDetail()">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-map-sidebar">
                        <div class="row">
                            <div class="col-md-7 main">
                                <div id="routeMap" class="map-wrapper"></div>
                            </div>
                            <div class="col-md-5 map-sidebar">
                                <div class="panel-body">
                                    <h4 class="panel-title mb20">{$ route.name $}</h4>
                                    <p>{$ route.description $}</p>
                                    <form class="form" action="#">
                                        <div class="form-group">
                                            <label class="control-label">From:</label>
                                            <select id="selectFrom" class="form-control" data-placeholder="Choose place..."  ng-model="selectFrom" ng-options="c as c.title for c in route.places">
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">To:</label>
                                            <select id="selectTo" class="form-control" data-placeholder="Choose place..." ng-model="selectTo" ng-options="c as c.title for c in route.places">
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Transportation:</label>
                                            <div class="btn-group">
                                                <button class="btn btn-default" type="button"><i class="fa fa-bicycle"></i></button>
                                                <button class="btn btn-default active" type="button"><i class="fa fa-train"></i></button>
                                                <button class="btn btn-default" type="button"><i class="fa fa-bus"></i></button>
                                                <button class="btn btn-default" type="button"><i class="fa fa-ship"></i></button>
                                                <button class="btn btn-default" type="button"><i class="fa fa-plane"></i></button>
                                            </div>
                                        </div>
                                        <hr>
                                        <button type="button" class="btn btn-success btn-block" ng-click="calcRoute()">Get Directions</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
