<div class="be-large-post-align">
    <div class="row">
        <div class="input-col col-xs-12 col-sm-12">
            <div class="form-group fg_icon focus-2">
                <div class="form-label">Title</div>
                <input class="form-input" type="text" value="Default" ng-model="point.title">
            </div>
        </div>
        <div class="input-col col-xs-12 col-sm-12">
            <div class="form-group fg_icon focus-2">
                <div class="form-label">Price</div>
                <input class="form-input" type="number" value="1" ng-model="point.price">
            </div>
        </div>
        <div class="input-col col-xs-12">
            <div class="form-group focus-2">
                <div class="form-label">Description</div>
                <textarea class="form-input" required="" placeholder="Something about place" ng-model="point.description"></textarea>
            </div>
        </div>
    </div>
</div>
