<div class="place-item">
    <div class="be-post">
        <a href="#/detail/{$place.id$}" class="be-img-block">
            <img src="{$ place.photo $}" alt="omg">
        </a>
        <a href="#/detail/{$place.id$}" class="be-post-title">{$ place.title $}</a>

        <div class="author-post">
            <img src="img/a6.png" alt="" class="ava-author">
            <span>by <a href="page1.html">{$ place.user $}</a></span>
        </div>
        <div class="info-block">
            <span><i class="fa fa-thumbs-o-up"></i> 360</span>
            <span><i class="fa fa-eye"></i> 789</span>
            <span><i class="fa fa-comment-o"></i> 20</span>
        </div>
    </div>
</div>