<div class="place-item panel">
    <ul class="panel-options top-0" ng-if="isEdit">
        <li><a href="javascript:;" ng-click="remove({placeId: place.id})"><span class="fa fa-remove"></span></a> </li>
    </ul>
    <div class="be-post panel-body">
        <a href="#/detail/{$place.id$}" class="be-img-block">
            <img src="{$ place.photo $}" alt="omg">
        </a>
        <a href="#/detail/{$place.id$}" class="be-post-title">{$ place.title $}</a>
        <div class="author-post">
            <img src="{$place.user_photo$}" alt="" class="ava-author">
            <span>by <a href="page1.html">{$ place.user $}</a></span>
        </div>
        <div class="info-block">
            <span><i class="fa fa-thumbs-o-up"></i> 360</span>
            <span><i class="fa fa-eye"></i> 789</span>
            <span><i class="fa fa-comment-o"></i> 20</span>
        </div>
    </div>
</div>
