<div class="panel-statistics ">
    <div class="col-sm-12 margin-top-10">
        <div class="panel panel-updates no-margin no-padding no-border">
            <div class="panel-body no-padding">
                <div class="row">
                    <div class="col-xs-2 col-lg-3 text-right">
                        <img src="/static/img/travel_map.jpg" class="img-responsive">
                    </div>
                    <div class="col-xs-10 col-lg-9">
                        <a href="#/route-detail/{$ route.id $}">
                            <h3 class="panel-title text-success padding-10">{$ route.name $}</h4>
                        </a>
                        <p class="lead padding-10">{$ route.description $}</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- panel -->
    </div>
</div>

